<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name = "listeners.TestListener"/>
</listeners>
  <test thread-count="5" name="Test">
    <groups>
	            <run>
	                <include name = "regression">
	                </include>
	                
	            </run>
        </groups>
    <classes>
        <class name="saucelabs_testcases.ZoneTest"/>
         <class name="saucelabs_testcases.PricingTest"/>
         <class name="saucelabs_testcases.VerifyValidLogin"/>
         <class name="saucelabs_testcases.ContactSalesTest"/>
         <class name="saucelabs_testcases.TryItFreeHomeTest"/>
         <class name="saucelabs_testcases.CrossBrowserTest"/>                           
          <class name="saucelabs_testcases.MobileAppTesting"/>
          <class name="saucelabs_testcases.LowCodeTest"/>                             
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
